//colors
$accent: #DEC377;
$accent-dark:#AB8B2F;
$accent-40:rgba(222, 195, 119, 0.4);
$accent-75:rgba(222, 195, 119, 0.75);
$main:#F2F2F2;
$main-light:#ffffff;
$main-text:rgba(0, 0, 0, 0.8);
$title:rgba(0, 0, 0, 0.9);
$subtitle:rgba(0, 0, 0, 0.75);
$secondary:rgba(0, 0, 0, 0.5);
$inactive:rgba(0, 0, 0, 0.1);
$detail:rgba(0, 0, 0, 0.1);
$dark:rgba(0, 0, 0, 0.8);

